body {
    margin-top: 105px;
}

/* footer {
    background-color: #2D3549;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px; 
} */
h1, h2, h3, h4, h5, p{
    font-family: Montserrat;
}